.table {
    margin-top: 20px;
    border: 2px dotted red;
    margin-left: auto;
    margin-right: auto;
}

.td {
    width: 100px;
    height: 100px;
    border: none;
    text-align: center;
    font-size: 4em;
}

.table,
tr,
td {
    border-collapse: collapse;
}

.color {
    background-color: white;
}

.footer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: larger;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: larger;
    margin-top: 50px;
    margin-bottom: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.design {
    background-color: goldenrod;
}